* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Raleway";
}

@font-face {
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2);
    font-family: "Raleway";
}

html {
    background-image: url(https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9yZXN0JTIwYnJpZGdlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    margin: 15px 24px;
    cursor: pointer;
}

.main {
    text-align: center;
    margin-top: 215px;
}

.heading {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 21px;
}

.line {
    margin: auto;
    width: 184px;
    height: 0.7px;
    background-color: rgb(156, 156, 156);
    border: none;
}

.days {
    margin-top: 21px;
    font-size: 18px;
}

.footer {
    margin-top: 227px;
    margin-left: 24px;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .footer {
        margin: 222px 0 0 20px;
    }
}